img{
    width: 100%;
    border-radius: 1000px;
}

.new-book-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.new-book-container .content{
    width: 100%;
    padding: 40px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-book-container .content section{
    width: 100%;
    max-width: 250px;
    margin-left: 80px;
}

.new-book-container .content section h1{
    margin: 20px 0 20px;
    font-size: 30px;
}

.new-book-container .content section p{
    font-size: 15px;
    color: #737380;
    line-height: 30px;
}

.new-book-container .content form{
    width: 100%;
    max-width: 450px;
    margin-right: 100px;
}

.new-book-container .content form input{
    margin-top: 8px;
}
